.places {
  max-width: 882px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: auto;
  grid-gap: 20px 18px;
  margin: 50px auto 66px ;
}


@media screen and (max-width: 321px) {
  .places {
    max-width: 282px;
    gap: 20px;
    margin: 36px auto 48px;
  }
}
