.profile__name {
  color: #fff;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.33;
  margin: 0;
}

@media screen and (max-width: 321px) {
  .profile__name {
    font-size: 27px;
    line-height: 2.07;
  }
}
