.profile__view {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .profile__view {
    flex-direction: column;
    text-align: center;
    margin: 0 auto 36px;
  }
}
