.profile__view {
  display: flex;
}

@media screen and (max-width: 767px) {
  .profile__view {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto 36px;
  }
}
